﻿@model P3AddNewFunctionalityDotNetCore.Models.ViewModels.ProductViewModel
@{
    ViewData["Title"] = Localizer["CreatProductTitle"];
    Layout = "_AdminLayout";
}

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create" method="post">
    <div class="form-group col-6">
        <label>@Localizer["Name"]*:</label><input asp-for="Name" class="form-control" required/>
    </div>
    <div class="form-group col-4">
        <label>@Localizer["Price"]*:</label>
        <input asp-for="Price" class="form-control" required type="number"
               min="0" onkeypress="if (event.keyCode == 45) event.preventDefault();" pattern="^[0-9]+$" />
    </div>
    <div class="form-group col-8">
        <label>@Localizer["Description"]:</label><input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group col-4">
        <label>@Localizer["Stock"]*:</label>
        <input asp-for="Stock" type="text" class="form-control" required type="number"
               min="0" onkeypress="if (event.keyCode == 45) event.preventDefault();" pattern="^[0-9]+$" />
    </div>
    <div class="form-group col-8">
        <label>@Localizer["Details"]:</label><input asp-for="Details" class="form-control" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="@Localizer["OK"]" />
    </div>
</form>

